<%- include("../layout/header")  %>

<div class="container">
    <h2 class="form-title">User Log-In</h1>
    <div class="form-width">        
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="">User Name:</label>
                    <input class="form-control" type="text" name="username" placeholder="user name" required>
                </div>
                <div class="form-group">
                    <label for="">password:</label>
                    <input class="form-control" type="password" name="password" placeholder="password" required>
                </div>
                <button class="btn btn-primary form-control">Login</button>
            </form>
            <p class="mt-4">
                Don't have account? please <a href="/register">sign up</a>
            </p>
    </div>
</div>

<%- include("../layout/footer")  %>